.section {
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 30px;
  padding-top: 20px;
  /* flex-direction: row; */
  /* margin-right: 50px; */
}
.card {
  /* width: 100%; */
  /* display: flex; */
  /* flex-direction: column; */
  border-radius: 8px;
  /* flex: 1; */
}
.template-img {
  position: relative;
}
.template-img img {
  width: 100%;
  /* height: 150px; */
  object-fit: fill;
  border-radius: 10px;
}
.template-img .duration {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.grid-two {
  padding: 3px;
  display: grid;
  grid-template-columns: 35px 1fr;
  column-gap: 15px;
}

.profile-img img {
  width: 100%;
  border-radius: 50px;
  object-fit: contain;
}

.video-description {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 8px;
}
.channal-name {
  font-size: 12px;
  margin-bottom: 2px;
  position: relative;
  text-transform: uppercase;
  color: #606060;
  /* display: flex; */
  /* align-items: center; */
}
.channal-name .verified {
  width: 12px;
  border-radius: 6px;
  /* color: white;
  #606060 */
  position: relative;
  top: 2px;
  left: 0px;
}

.verified img {
  width: 100%;
  color: white;
}
.detaile-info {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 8px;
  font-size: 12px;
  font-weight: 400;
  color: #606060;
}
a {
  text-decoration: none;
  color: black;

}
@media screen and (max-width: 600px) {
  .section {
    grid-template-columns: 1fr;
    /* display: inline; */
  }
  .card {
    padding-top: 20px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1199px) {
  .section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* display: inline; */
  }
  .card {
    padding-top: 20px;
  }
}
@media screen and (min-width: 850px) and (max-width: 1399px) {
  .section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* display: inline; */
  }
  .card {
    padding-top: 20px;
  }
}
@media screen and (min-width: 1400px) {
  .section {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* display: inline; */
  }
  .card {
    padding-top: 20px;
  }
}
